<header
data-bs-spy="scroll"
data-bs-target="#list-example"
data-bs-smooth-scroll="true"
class="scrollspy-example py-3"
tabindex="0"
>
<div class="container" id="home">
  <div class="row">
    <div
      class="col-md-6 d-flex align-items-center justify-content-center order-2 order-sm-1"
    >
      <div class="px-3">
        <h1 class="main-font">
            Bizning Himoyamizda Xavfsizlikni Ta'minlang
        </h1>

        <p class="main-text py-2">
            Biz xavfsizlik sohasidagi raqobatbardoshlikda ko'proq ehtiyoj sezgan mijozlarga yordam berish uchun yaratilgan bir jamoamiz.
        </p>
        <div class="d-flex align-items-center justify-content-start">
          <button class="btn py-2 px-4 btn-primary" data-bs-toggle="modal"
          data-bs-target="#consultation">
            Konsultatsiya
          </button>
        </div>
      </div>
    </div>
    <div
      class="col-md-6 order-1 order-sm-2"
      data-aos="fade-down"
      data-aos-duration="1300"
    >
      <img src="assets/main.jpg" class="img-fluid p-4" alt="meal" />
    </div>
  </div>
</div>
</header>


 <!-- *************************** Features ******************************** -->
 <section id="features">
  <div class="container pt-5">
    <div class="text-center">
      <p class="category">Features</p>
      <h3 class="main-font">Bizning xizmatlar</h3>
    </div>
    <div
      class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-xl-3 py-3"
    >
      <!-- 1 -->
      <div
        data-aos="fade-down"
        data-aos-duration="800"
        class="col d-flex align-items-center justify-content-center py-3"
      >
        <div class="text-center">
          <img
            src="assets/icon1.svg"
            class="img-fluid"
            alt="icon"
          />
          <h4 class="main-font pt-3">Xavfsizlik sifati</h4>
          <p class="main-text">
            Xavfsizlik sifati bizning identitetimizning asosiy qismidir. Biz, har bir muammoga yechim topish uchun xavfsizlikning eng yuqori standartlarini qo'llaymiz va muvaffaqiyatga erishish uchun xavfsizlikni o'rgangan va amalga oshirgan mutaxassislar jamoasini hamda texnologiyalardan keng foydalanamiz
          </p>
        </div>
      </div>
      <!-- 2 -->
      <div
        data-aos="fade-down"
        data-aos-duration="1400"
        class="col d-flex align-items-center justify-content-center py-3"
      >
        <div class="text-center">
          <img
            src="assets/icon-2.svg"
            class="img-fluid"
            alt="icon"
          />
          <h4 class="main-font pt-3">Monitoring</h4>
          <p class="main-text">
           Monitoring, ma'lumotlar sohasida kritik ahamiyatga ega bir amaldir. Biz monitoring tizimlarini ishga tushirib, ma'lumotlar va tizimlarning holatini qattiq kuzatish orqali xavfsizlik va iste'molchilar tomonidan yuzaga keladigan muammo va xatoliklarni aniqlash va oldini olishga yordam beramiz.
          </p>
        </div>
      </div>
      <!-- 3 -->
      <div
        data-aos="fade-down"
        data-aos-duration="2000"
        class="col d-flex align-items-center justify-content-center py-3"
      >
        <div class="text-center">
          <img
            src="assets/icon-3.svg"
            class="img-fluid"
            alt="icon"
          />
          <h4 class="main-font pt-3">Ko'p Faktorli Auth</h4>
          <p class="main-text">
            Ko'p faktorli autentifikatsiya, xavfsizlikni oshirish va foydalanuvchilarning identitetlarini himoya qilish uchun muhim bir vositadir. Bu usulda, foydalanuvchining kimligini tasdiqlovchi boshqa bir faktor yoki ko'plab faktorlar qo'llaniladi.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


 <!-- *************************** About Us ******************************** -->
 <section id="aboutUs">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 p-5"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <img src="assets/about.jpg" class="img-fluid" alt="" />
        </div>
        <div
          data-aos="fade-down"
          data-aos-duration="1400"
          class="col-md-6 d-flex align-items-center justify-content-center"
        >
          <div>
            <div class="text-start">
              <h3 class="category">About us</h3>
              <h3 class="main-font">
                Biz Haqimizda: Xavfsizlikni Oshirishda Eksklyuziv Mahorat
              </h3>
            </div>
            <p class="main-text py-3">
              Bizning kompaniyamiz, xavfsizlik sohasida eksklyuziv mahoratga ega bo'lgan bir jamoamiz. Biz, ko'p faktorli autentifikatsiya va xavfsizlikning boshqa innovatsion yondashuvlari bilan xizmat qilish orqali foydalanuvchilarning identitetlarini himoya qilishda katta muvaffaqiyat ko'rsatamiz.
            </p>
            <button class="btn btn-outline-warning fw-bold px-md-4">Biz Haqimizda</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <h2 class="text-center py-5">Foydalanuvchilar fikrlari</h2>
  <div class="row text-center">
    <div class="col-md-12">
      <!-- Carousel wrapper -->
      <div id="carouselBasicExample" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <!-- Inner -->
        <div class="carousel-inner">
          <!-- Single item -->
          <div class="carousel-item active">
            <p class="lead font-italic mx-4 mx-md-5">
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
              numquam iure provident voluptate esse quasi, voluptas nostrum quisquam!"
            </p>
            <div class="mt-5 mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100"
                height="100" />
            </div>
            <p class="text-muted mb-0">- Anna Morian</p>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
            <p class="lead font-italic mx-4 mx-md-5">
              "Neque cupiditate assumenda in maiores repudiandae mollitia adipisci maiores
              repudiandae mollitia consectetur adipisicing architecto elit sed adipiscing
              elit."
            </p>
            <div class="mt-5 mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
                class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100"
                height="100" />
            </div>
            <p class="text-muted mb-0">- Teresa May</p>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
            <p class="lead font-italic mx-4 mx-md-5">
              "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla pariatur est laborum neque cupiditate assumenda in
              maiores."
            </p>
            <div class="mt-5 mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100"
                height="100" />
            </div>
            <p class="text-muted mb-0">- Kate Allise</p>
          </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselBasicExample"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselBasicExample"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Carousel wrapper -->
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade " id="consultation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border border-0">
                <h1></h1>
                <button type="button" class="bg-dark btn rounded-pill" data-bs-dismiss="modal" aria-label="Close"
                    (click)="form.resetForm()">
                    <i class="fas fa-close text-white"></i> </button>
            </div>
            <div class="modal-body border border-0">
                <div class="container">
                    <h3 class="fw-bold">Konsultatsiya</h3>
                    <div class="py-5">
                        <form #form="ngForm" (ngSubmit)="submitForm(form)">
                            <div class="row pt-3">
                                <div class="col-12">
                                    <input type="text" name="name" #name="ngModel" ngModel required
                                        class="form-control form-control-x py-2" id="name"
                                        placeholder="Ismingiz*">
                                </div>
                                <div class="col-12 pt-3">
                                    <input type="text" name="phone_number" class="form-control form-control-x py-2"
                                        required id="phone_number" #phone_number="ngModel" ngModel
                                        placeholder="Telefon raqam*">
                                </div>
                                <div class="col-12 pt-3">
                                    <input type="email" class="form-control form-control-x py-2" id="email" name="email"
                                        #email="ngModel" ngModel
                                        placeholder="Email" email="true">
                                </div>

                                <div class="col-md-12 pt-5">
                                   <button class="btn btn-warning w-100 py-2">Yuborish</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
